<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ViewBGColor</key>
        <string>f7f7f7</string>
        <key>AlertTextColor</key>
        <string>666666</string>
        <key>AlertButtonTextColor</key>
        <string>3d998a</string>
        <key>LoginInputTextColor</key>
        <string>666666</string>
        <key>LoginTipsTextColor</key>
        <string>999999</string>
        <key>LoginButtonTextColor</key>
        <string>3d998a</string>
        <key>LotCustomBGColor</key>
        <string>f0f7f6</string>
        <key>LotCustomTextColor</key>
        <string>999999</string>
        <key>HallTextColor</key>
        <string>4d4d4d</string>
        <key>HallLightTextColor</key>
        <string>ff9f1a</string>
        <key>SettingTextColor</key>
        <string>666666</string>
        <key>NoticeTextColor </key>
        <string>666666</string>
        <key>NoticeLightTextColor</key>
        <string>999999</string>
        <key>HomeTextColor</key>
        <string>666666</string>
        <key>HomeLightTextColor</key>
        <string>999999</string>
        <key>BetViewBGColor</key>
        <string>eeeeee</string>
        <key>BetMethodTextColor</key>
        <string>666666</string>
        <key>BetRandomTextColor</key>
        <string>2fbfa7</string>
        <key>BetCellBGColor</key>
        <string>ffffff</string>
        <key>BetBallNormalColor</key>
        <string>cccccc</string>
        <key>BetWeightColor</key>
        <string>666666</string>
        <key>BetFooterColor</key>
        <string>404040</string>
        <key>BetFooterCountColor</key>
        <string>30bfa7</string>
        <key>BetFooterBalanceColor</key>
        <string>999999</string>
        <key>BetHistoryTitleColor</key>
        <string>666666</string>
        <key>BetHistoryIssueColor</key>
        <string>999999</string>
        <key>BetHistoryCodeColor</key>
        <string>30bfa7</string>
        <key>BetHistoryBGColor</key>
        <string>f2f2f2</string>
        <key>BasketCodeColor</key>
        <string>2fbea7</string>
        <key>BasketMethodColor</key>
        <string>666666</string>
        <key>BasketMethodDetailColor</key>
        <string>999999</string>
        <key>TraceTextColor</key>
        <string>666666</string>
        <key>ResultTextColor</key>
        <string>333333</string>
        <key>ResultDetailColor</key>
        <string>999999</string>
        <key>ResultTitleColor</key>
        <string>666666</string>
        <key>ResultLotTextColor</key>
        <string>ff9f1a</string>
        <key>ResultLeliColor</key>
        <string>4d4d4d</string>
        <key>ResultLeliDetailColor</key>
        <string>ff9f1a</string>
        <key>AddCardTextColor</key>
        <string>666666</string>
        <key>AddCardTipsColor</key>
        <string>999999</string>
        <key>AddCardNumberColor</key>
        <string>3d998a</string>
        <key>AddCardCityColor</key>
        <string>cccccc</string>
        <key>PublicCellNameColor</key>
        <string>4d4d4d</string>
        <key>PublicCellIssueColor</key>
        <string>999999</string>
        <key>PublicCellNumberColor</key>
        <string>5cccb9</string>
        <key>PublicCellButtonColor</key>
        <string>30bfa7</string>
        <key>PublicCellBackgroundColor</key>
        <string>ffffff</string>
        <key>PublicCellRedNumberColor</key>
        <string>ff8c8c</string>
        <key>PublicCellBlueNumberColor</key>
        <string>73ace6</string>
        <key>MyAccountNameColor</key>
        <string>4d4d4d</string>
        <key>MyAccountMidTextColor</key>
        <string>999999</string>
        <key>MyAccountCellNameColor</key>
        <string>333333</string>
        <key>MyAccountCellMethodColor</key>
        <string>999999</string>
        <key>MyAccountCellIssueColor</key>
        <string>808080</string>
        <key>MyAccountCellStatusColor</key>
        <string>666666</string>
        <key>MyAccountCellSubStatusColor</key>
        <string>ff9f1a</string>
        <key>MyAccountCellBackground</key>
        <string>ffffff</string>
        <key>MyAccountCellDisableColor</key>
        <string>cccccc</string>
        <key>FundsViewHeaderColor</key>
        <string>59b3a4</string>
        <key>FundsViewHeaderSelectedColor</key>
        <string>ffffff</string>
        <key>FundsViewAmountTagColor</key>
        <string>a1e6da</string>
        <key>FundsViewAmountColor</key>
        <string>ffffff</string>
        <key>FundsViewSlideTabColor</key>
        <string>999999</string>
        <key>FundsViewSlideTabSelectedColor</key>
        <string>666666</string>
        <key>FundsViewCellAmountPlusColor</key>
        <string>ff9f1a</string>
        <key>FundsViewCellAmountReduceColor</key>
        <string>666666</string>
        <key>FundsViewCellNameColor</key>
        <string>333333</string>
        <key>FundsViewCellTimeColor</key>
        <string>999999</string>
        <key>GameHistoryNameColor</key>
        <string>666666</string>
        <key>GameHistoryIssueColor</key>
        <string>999999</string>
        <key>GameHistoryAmountTagColor</key>
        <string>999999</string>
        <key>GameHistoryAmountColor</key>
        <string>666666</string>
        <key>GameHistoryStatusColor</key>
        <string>3d998a</string>
        <key>GameHistoryStatusHighlighColor</key>
        <string>ff9f1a</string>
        <key>GameHistoryBetTagColor</key>
        <string>666666</string>
        <key>GameHistoryBackground</key>
        <string>f7f7f7</string>
        <key>GameHistoryBetInfoColor</key>
        <string>999999</string>
        <key>ZhuihaoInfoButtonColor</key>
        <string>30bfa7</string>
        <key>ZhuihaoDetailTableViewBackground</key>
        <string>f7f7f7</string>
        <key>ZhuihaoDetailCellBackground</key>
        <string>ffffff</string>
        <key>ZhuihaoDetailCellStatusColor</key>
        <string>999999</string>
        <key>ZhuihaoDetailCellStatusHighlightColor</key>
        <string>ff6666</string>
        <key>ZhuihaoDetailCellTimeColor</key>
        <string>30bfa7</string>
        <key>ZhuihaoDetailCellIssueColor</key>
        <string>666666</string>
        <key>ZhuihaoDetailCellAmountColor</key>
        <string>30bfa7</string>
        <key>ZhuihaoDetailCellSubStatusColor</key>
        <string>cccccc</string>
        <key>ZhuihaoDetailSelectedLabelColor</key>
        <string>3d998a</string>
        <key>ZhuihaoDetailSelectedTagLabelColor</key>
        <string>999999</string>
        <key>ZhuihaoDetailSelectedButtonColor</key>
        <string>3d998a</string>
        <key>CardNotBindTextColor</key>
        <string>666666</string>
        <key>CardNotBindBackground</key>
        <string>f7f7f7</string>
        <key>CardNotBindButtonColor</key>
        <string>3d998a</string>
        <key>BankCardNameColor</key>
        <string>333333</string>
        <key>BankCardAccountColor</key>
        <string>999999</string>
        <key>RechargeAmountLabelColor</key>
        <string>333333</string>
        <key>RechargeTipLabelColor</key>
        <string>999999</string>
        <key>RechargeResultOrderTagColor</key>
        <string>808080</string>
        <key>RechargeResultOrderColor</key>
        <string>3d998a</string>
        <key>RechargeResultTipColor</key>
        <string>b3b3b3</string>
        <key>RechargeResultAmountColor</key>
        <string>ff9f1a</string>
        <key>RechargeResultAmountTagColor</key>
        <string>999999</string>
        <key>RechargeResultBankTagColor</key>
        <string>666666</string>
        <key>RechargeResultBankColor</key>
        <string>999999</string>
        <key>RechargeResultTimeColor</key>
        <string>666666</string>
        <key>WithdrawTagColor</key>
        <string>999999</string>
        <key>WithdrawHeadColor</key>
        <string>666666</string>
        <key>WithdrawAmountTagColor</key>
        <string>333333</string>
        <key>WithdrawAmountColor</key>
        <string>ff9f1a</string>
        <key>TransferTagColor</key>
        <string>999999</string>
        <key>TransferAmountColor</key>
        <string>666666</string>
        <key>TransferMenuColor</key>
        <string>3d998a</string>
        <key>TransferAmountTagColor</key>
        <string>333333</string>
    </dict>
</plist>
