<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>排列5</key>
	<string>数字型玩法，更易组合和分析</string>
	<key>江西时时彩</key>
	<string>数字型玩法、更易组合和分析</string>
	<key>天津时时彩</key>
	<string>中奖率高、简单刺激、玩法多样</string>
	<key>新疆时时彩</key>
	<string>开奖节奏快、中奖率高、玩法多样简单</string>
	<key>吉利分分彩</key>
	<string>业内首款“1分钟一开奖”时时彩</string>
	<key>乐利时时彩</key>
	<string>真人视频时时彩，美女全程助兴</string>
	<key>乐利11选5</key>
	<string>熊猫独家 真人美女视频开奖</string>
	<key>重庆时时彩</key>
	<string>人气最高 各类玩法应有尽有</string>
	<key>山东11选5</key>
	<string>又名“十一运夺金”玩法简单多样</string>
	<key>3D</key>
	<string>天天开奖 奖金绝不缩水</string>
	<key>双色球</key>
	<string>每注2元，奖池高达2000万</string>
	<key>江苏快三</key>
	<string>开奖快速、趣味性强、返奖率高</string>
	<key>顺利秒秒彩</key>
	<string>自主开奖 秒赚万元</string>
</dict>
</plist>
