<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>高频</key>
	<array>
		<dict>
			<key>description</key>
			<string>重庆时时彩</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>1</integer>
			<key>curmid</key>
			<integer>50</integer>
			<key>totalIssue</key>
			<integer>120</integer>
			<key>maxTrace</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>黑龙江时时彩</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>2</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>江西时时彩</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>0</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>上海时时乐</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>4</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>山东11选5</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>5</integer>
			<key>curmid</key>
			<integer>174</integer>
			<key>totalIssue</key>
			<integer>78</integer>
			<key>maxTrace</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>新疆时时彩</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>6</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>江西11选5</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>7</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>广东11选5</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>8</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>北京快乐8</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>9</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>重庆11选5</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>10</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>乐利时时彩</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>11</integer>
			<key>curmid</key>
			<integer>531</integer>
			<key>totalIssue</key>
			<integer>276</integer>
			<key>maxTrace</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>天津时时彩</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>12</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>乐利11选5</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>13</integer>
			<key>curmid</key>
			<integer>753</integer>
			<key>totalIssue</key>
			<integer>78</integer>
			<key>maxTrace</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>吉利分分彩</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>14</integer>
			<key>curmid</key>
			<integer>799</integer>
			<key>totalIssue</key>
			<integer>1380</integer>
			<key>maxTrace</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>江苏快三</string>
			<key>channelid</key>
			<integer>4</integer>
			<key>lotteryid</key>
			<integer>16</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>120</integer>
		</dict>
	</array>
	<key>低频</key>
	<array>
		<dict>
			<key>description</key>
			<string>3D</string>
			<key>channelid</key>
			<integer>1</integer>
			<key>lotteryid</key>
			<integer>1</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>120</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>双色球</string>
			<key>channelid</key>
			<integer>1</integer>
			<key>lotteryid</key>
			<integer>3</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>排列5</string>
			<key>channelid</key>
			<integer>1</integer>
			<key>lotteryid</key>
			<integer>2</integer>
			<key>curmid</key>
			<integer>0</integer>
			<key>totalIssue</key>
			<integer>0</integer>
			<key>maxTrace</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
